services:
  # MySQL Database
  mysql:
    image: mysql:5.7
    container_name: task-mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: task-management
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
       - mysql_data:/var/lib/mysql

    networks:
      - task-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  # PHP/Laravel Backend
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    container_name: task-backend
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./backend:/var/www/html
      - ./backend/vendor:/var/www/html/vendor
    ports:
      - "8000:8000"
    environment:
      - DB_CONNECTION=mysql
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_DATABASE=task-management
      - DB_USERNAME=root
      - DB_PASSWORD=root
      - APP_ENV=production
      - APP_DEBUG=false
      - APP_ENV=local
      - APP_DEBUG=true
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - task-network

  # Node.js/Vue Frontend
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    container_name: task-frontend
    restart: unless-stopped
    working_dir: /app
    ports:
      - "5173:80"
    environment:
      - VITE_API_URL=http://localhost:8000/api
    depends_on:
      backend:
        condition: service_started
    networks:
      - task-network

volumes:
  mysql_data:

networks:
  task-network:
    driver: bridge